################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PracticeProject/v16
/packages/Microsoft.Build.Tasks.Git.1.0.0
/PracticeProject/bin/Debug
/PracticeProject/obj/Debug
